<div class="col-md-12">
    <div class="card card-container">
      <form
        *ngIf="isLoggedIn&&!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="currentPassword">Current Password</label>
          <input
            type="password"
            class="form-control"
            name="currentPassword"
            [(ngModel)]="form.currentPassword"
            required
            minlength="8"
            maxlength="32"
            #currentPassword="ngModel"
          />
          <div class="alert-danger" *ngIf="currentPassword.errors && f.submitted">
            <div *ngIf="currentPassword.errors.required">Current password is required</div>
            <div *ngIf="currentPassword.errors.minlength">
              Current password must be at least 8 characters
            </div>
            <div *ngIf="currentPassword.errors.maxlength">
              Username must be at most 32 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input
            type="password"
            class="form-control"
            name="newPassword"
            [(ngModel)]="form.newPassword"
            required
            minlength="8"
            maxlength="32"
            #newPassword="ngModel"
          />
          <div class="alert-danger" *ngIf="newPassword.errors && f.submitted">
            <div *ngIf="newPassword.errors.required">New password is required</div>
            <div *ngIf="newPassword.errors.minlength">
              Password must be at least 8 characters
            </div>
            <div *ngIf="newPassword.errors.maxlength">
              Password must be less than 32 characters
            </div>
          </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              [(ngModel)]="form.confirmPassword"
              required
              minlength="8"
              maxlength="32"
              #confirmPassword="ngModel"
            />
            <div class="alert-danger" *ngIf="confirmPassword.errors && f.submitted">
              <div *ngIf="confirmPassword.errors.required">New password is required</div>
              <div *ngIf="confirmPassword.errors.minlength">
                Password must be at least 8 characters
              </div>
              <div *ngIf="confirmPassword.errors.maxlength">
                Password must be less than 32 characters
              </div>
              <div *ngIf="confirmPassword.errors.match">
                Passwords do not match.
              </div>
            </div>
          </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Continue</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isChangePwdFailed">
          Change password failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your password has been changed.
      </div>
    </div>
  </div>