<div class="col-md-12">
    <div class="card card-container">
      <form
        *ngIf="!isLinkSuccess"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            #email="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="email.errors && f.submitted"
          >
            Email is required!
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Send Verification Link
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLinkFailed"
          >
            Password reset failed: {{ errorMessage }}
          </div>
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isLinkSuccess">
        Verification link sent.
      </div>
    </div>
  </div>
  